[Unit]
Description=Dispatch Password Requests to tty0
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-vconsole-setup.service
Before=shutdown.target
ConditionPathExists=!/run/plymouth/pid
ConditionPathExists=/dev/tty0

[Service]
ExecStart=/usr/bin/systemd-tty-ask-password-agent --watch
SystemCallArchitectures=native
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty0
