[Unit]
Description=Ask for passwords on the serial line
DefaultDependencies=no
Conflicts=shutdown.target
Before=paths.target shutdown.target cryptsetup.target

[Service]
ExecStart=/usr/bin/systemd-tty-ask-password-agent --watch
TTYPath=/dev/ttyS0
StandardInput=tty
StandardOutput=tty
StandardError=tty

[Install]
WantedBy=sysinit.target
